[core]
	autocrlf = input
	quotepath = false
	excludesfile = ~/.gitignore
	editor = mate -w
[user]
	name = Joni Kanerva
	email = joni@devlab.fi
[merge]
	tool = opendiff
[github]
	user = jonikanerva
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[alias]
	s = status
	b = branch
	d = difftool
	l = log --graph --abbrev-commit --date=relative
	pb = remote prune origin
	nm = branch -r --no-merged
	mm = branch -r --merged
[difftool]
	prompt = false
[push]
	default = simple
[mergetool]
	keepBackup = false
[credential]
	helper = osxkeychain
