[core]
	autocrlf = input
	quotepath = false
	excludesfile = ~/.gitignore
	editor = subl -n -w
	preloadindex = true
	precomposeunicode = false
[user]
	name = Joni Kanerva
	email = joni@devlab.fi
[merge]
	tool = Kaleidoscope
[diff]
	tool = Kaleidoscope
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustexitcode = true
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[github]
	user = jonikanerva
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[alias]
	s = status
	b = branch
	f = fetch
	d = difftool
	co = checkout
	l = log --graph --abbrev-commit --date=relative
	pb = remote prune origin
	nm = branch -r --no-merged
	mm = branch -r --merged
[difftool]
	prompt = false
[push]
	default = simple
[mergetool]
	keepBackup = false
	prompt = false
[credential]
	helper = osxkeychain
